@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin: 0;padding: 0;box-sizing: border-box;}
body{
  font-family: 'Montserrat', sans-serif;
}
.app{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1{
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
header p{
  font-size: 20px;
  color: gray;
}

.pads{
  background: lightblue;
  width: 100%;
  display: flex;
}

.pads > div{
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1{
  background: #60d395;
}

.pad2{
  background: #d36060;
}

.pad3{
  background: #c060d3;
}

.pad4{
  background: #d3d160;
}

.pad5{
  background: #6860d3;
}

.pad6{
  background: #60b2d3;
}


.visual > div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  bottom: 0%;
  left: 20%;
  z-index: -1;
}



@keyframes jump {
  0%{
    bottom:0%;
    left:20%;
  }
  50%{
    bottom:1000%;
    left:800%;
  }
  100%{
    bottom:0%;
    left:1700%;
  }
}










.
